.carousel {
    background-color:#222;
    margin: 0 16px;
    padding: 4px 0 10px 0;
}
.slide {
    display: none;
    max-width: 1000px;
}
.slide img, .controls {
    width: 100%;
}
.controls {
    background-color: #111;
    opacity: 0.7;
    visibility: hidden;
}
.controls > div, .controls > span {
    cursor: pointer;
}
.controls > span {
    margin-top: 15px;
}
.w3-badge {
  height: 16px;
  width: 16px;
   margin: 0 1rem;
}
@media screen and (max-width: 478px) {
    .slideshow {
        margin: 0;
        padding: 2px 0 6px 0;
    }
}